.slot {
    width: 5rem;
    height: 5rem;
    display: flex;
    font-size: 3rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: darkkhaki;
    opacity: 0.7;
    &__black {
        background-color: firebrick;
    }
    &__selected {
        background-color: orangered;
        opacity: 1;
        cursor: pointer;
    }
    &__target {
        opacity: 1;
        cursor: pointer;
    }
    &__noSelected { 
        opacity: 1;
    }
}
