.page_title_container {
    background-color: lightslategrey;
    flex: 3 0 auto;
    padding: 1rem;
}

.tab_menu_container {
    flex: 1 0 auto;
    display: flex;
    justify-content: stretch;
}